
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: #2F4F4F;
    color: #333;
}

header {
    background-color: #121212;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

main {
    padding: 20px;
}

.course-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}
.course-card1 {
    background-image: linear-gradient(to right, #96d6d6, #008B8B);;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}
.course-card2 {
    background-image: linear-gradient(to right, #E2BCBB, #E4514A);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}
.course-card3 {
    background-image: linear-gradient(to right, #98FB98, #228B22);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}
.course-card4 {
    background-image: linear-gradient(to right, #FFFFE0, #F0E68C);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}
.course-card5 {
    background-image: linear-gradient(to right, #DDA0DD, #800080);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}
.course-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.course-details {
    padding: 15px;
}

h2 {
    color: #121212;
}

p {
    color: #555;
}

a {
    color: #3a3aff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #00155f;
}

footer {
    background-color: #121212;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
